<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Department list</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
table, th, td {
	border: 1px double black;
	border-collapse: collapse;
	background-color: threedhighlight;
}
.button{
	border:none;
	color:white;
	padding:10px 25px;
	text-align:center;
	text-decoration:none;
	display:inline-block;
	font-size:16px;
	margin:4px 2px;
	cursor:pointer;
}
.button1 {background-color:#4CAF50;}
.button2 {background-color:#CD5C5C;}
.button3 {background-color:#0000CD;}
.button4 {background-color:#C0C0C0;}

</style>
</head>
<body th:style=" ' background:url(/img/img3.jpeg) no-repeat center center fixed; background-repeat: no-repeat; background-size: 100% 100%; height: 500px; background-attachment: fixed '">
	<div align="center" class="container text-center">
	<h1 align="center">
        <font color="Blue",font style="monospace" size ="20" >EMPLOYEE MANAGEMENT SYSTEM</font> 
    </h1>
    <hr>
   
		<h2 align="center">Department List</h2>
		<p align="left">
			<a th:href="@{/welcome}">
		<button class="button button4">Back</button></a>
		</p>
		
			<br><br>
			
			<fieldset style="width:1000px">
			<p align="left">
			<a th:href="@{/deptForm}">
		<button class="button button3">Add Department</button></a>
		</p>
			<table  align="center" class="table table-striped table-bordered">
				<thead class="thread-dark">
				<tr>
					<th>Department ID</th>
					<th>Department Name</th>
					<th>Phone NO</th>
					<th>Department Email</th>
					<th>Entention No</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
					<tr th:each="dept : ${departments}">
					<td th:text="${dept.id}"></td>
					<td th:text="${dept.dname}"></td>
					<td th:text="${dept.dphoneNo}"></td>
					<td th:text="${dept.dEmail}"></td>
					<td th:text="${dept.dEntentionNo}"></td>
					
					<td> <a th:href="@{/updateDept (id=${dept.id})}" >
					<button class="button button1">Update</button></a>
						 <a th:href="@{/deleteDept (id=${dept.id})}" onclick="if (!(confirm('Are you sure you want to delete this department?'))) return false">
						 <button class="button button2">Delete</button></a>
					</td>
				</tr>
				</tbody>
			</table>
			</fieldset>
			
			</div>
</body>
</html>